<!DOCTYPE html>
<html>
<head>
  <title>Van Gogh - Home</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <header>
    <h1>Welcome to Vincent Van Gogh's Website</h1>
  </header>

  <nav>
    <ul>
      <li><a href="home">Home</a></li>
      <li><a href="about">About</a></li>
      <li><a href="works">Works</a></li>
    </ul>
  </nav>

  <main>
    <h2>Welcome to Van Gogh's Website</h2>
    <p>Explore the life and achievements of the legendary Dutch Posy-Impressionist painter, Vincent Van Gogh.</p>
  </main>

 
</body>
</html>