<!DOCTYPE html>
<html>
<head>
  <title>Van Gogh - Works</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <header>
    <h1>Van Gogh's Works</h1>
  </header>
  
  <nav>
      <ul>
          <li><a href="home">Home</a></li>
          <li><a href="about">About</a></li>
          <li><a href="works">Works</a></li>
        </ul>
    </nav>
    
    <main>
        <h2>Van Gogh's Works</h2>
        <p>
            Vincent Van Gogh‘s paintings are adored around the world.
            Unique post-impressionist technique, with swathing brushstrokes and striking colors, is instantly recognizable.
            While alive, the artist’s work was not so well received and he sold very few of his paintings.
            He became posthumously celebrated and now he is one of the most famous painters ever to have lived, with his original artworks selling for millions.
            Some of Van Gogh’s most expensive paintings include the Portrait de l’artiste sans barbe (1889) which sold for $71.5 million in 1998 and Portrait du Docteur Gachet (1890) which sold for $82.5 million in 1990.
            While many original Van Gogh paintings are scattered around the world’s greatest museums and private collections, many of them now sit in the Van Gogh Museum in Amsterdam.
        </p>

        <!-- <img src="" alt=""> -->
        </main>
        
    <div class="imgWorks">
    <img src="/public/NocheEstrellada.jpeg" alt="This is La Noche Estrellada">
    <img src="/public/patatas.jpeg" alt="This is Los comedores de patatas">
    <img src="/public/terraza.jpg" alt="This is Una terraza de París">
    </div>
    
  
</body>
</html>